.header {
	padding: 16px 0;
	position: absolute;
	z-index: 1000;
	width: 100%;
	height: 100px;
}

.header-fixed {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 1000;
	background-color: var(--black-color);
}

.logo {
	font-family: 'Satoshi', sans-serif;
	font-size: 40px;
	font-weight: 700;
}

.header__container {
	align-items: center;
	justify-content: space-between;
}

.nav__list {
	margin: 0;
	padding: 0;
	align-items: center;
	min-width: 500px;
}

.nav__item:not(:last-child) {
	margin-right: 80px;
}

.nav__link {
	position: relative;
	color: var(--white-color);
}

.nav__link::after {
	content: '';
	display: block;
	position: absolute;
	left: 0;

	width: 0;
	height: 1px;

	background-color: var(--white-color);
	transition: width .3s ease-in-out;
}

.nav__link:hover::after {
	width: 100%;
}

.burger {
	position: relative;
	display: none;
	padding: 0;

	width: 30px;
	height: 20px;

	border: none;
	background-color: transparent;
	cursor: pointer;
}

.burger__line {
	position: absolute;
	left: 0;
	top: 50%;

	width: 100%;
	height: 2px;
	background-color: var(--white-color);

	transform: translateY(-50%);
	transition: opacity 0.3s ease-in-out;
}

.burger::before,
.burger::after {
	content: "";
	position: absolute;
	left: 0;

	width: 100%;
	height: 2px;

	background-color: var(--white-color);
	transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, bottom 0.3s ease-in-out;
}

.burger::before {
	top: 0;
}

.burger::after {
	bottom: 0;
}

.burger--active .burger__line {
	opacity: 0;
}

.burger--active::before {
	top: 50%;
	transform: rotate(45deg);
}

.burger--active::after {
	bottom: auto;
	top: 50%;
	transform: rotate(-45deg);
}

.stop-scroll {
	overflow: hidden;
}