.hero {
	min-height: 800px;
	background-image: url(../img/hero/hero-img.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

.hero_inner {
	padding-top: 100px;
}

.hero__title {
	font-size: calc(30px + 15 * (100vw / 1260));
}

.hero__title,
.hero__subtitle,
.hero__btn {
	color: var(--white-color);
}